:root {
  --media-width-small: 480px;
  --media-width-medium: 768px;
  --media-width-large: 1024px;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
}
