.footer-section {
  background: var(--primary-black);
  border-top: 1px solid var(--primary-grey);
}

.footer-top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--primary-grey);
}

.footer-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.footer-right {
  display: flex;
  flex-direction: row;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 4rem;
  align-items: center;
}


@media (min-width: 800px) {
  .footer-top-wrapper {
    flex-direction: row;
  }
}
