<div class="user-task-container">
  <span class="user-task-title">ToDo's:</span>

  <div class="user-task-wrapper">
    <div class="user-task-icon">
      <mat-icon>assignment</mat-icon>
    </div>

    <div class="user-task-content">
      <span>Trade of the Day</span>
      <span class="task-status">erledigt</span>
    </div>

    <div class="user-task-button">
      <app-app-icon-button-component
        [icon]="'add'"
      ></app-app-icon-button-component>
    </div>
  </div>
  <div class="user-task-wrapper">
    <div class="user-task-icon">
      <mat-icon>assignment</mat-icon>
    </div>

    <div class="user-task-content">
      <span>Tägliche Aufgabe</span>
      <span class="task-status">erledigt</span>
    </div>

    <div class="user-task-button">
      <app-app-icon-button-component
        [icon]="'add'"
      ></app-app-icon-button-component>
    </div>
  </div>
</div>
