<div class="admin-statistics-container">
  <div class="admin-statistics-wrapper">
    <mat-icon class="card-icon">group</mat-icon>
    <div class="card-content">
      <span class="green-text">243</span>
      <span class="grey-text">Useranzahl</span>
    </div>
  </div>
  <div class="admin-statistics-wrapper">
    <mat-icon class="card-icon">person_add</mat-icon>
    <div class="card-content">
      <span class="green-text">4</span>
      <span class="grey-text">neue User</span>
    </div>
  </div>
  <div class="admin-statistics-wrapper">
    <mat-icon class="card-icon">favorite</mat-icon>
    <div class="card-content">
      <span class="green-text">Platzhalter</span>
      <span class="grey-text">Platzhalter</span>
    </div>
  </div>
  <div class="admin-statistics-wrapper">
    <mat-icon class="card-icon">chat</mat-icon>
    <div class="card-content">
      <span class="green-text">7</span>
      <span class="grey-text">Nachrichten</span>
    </div>
  </div>
</div>
