<div
  class="appointment-card"
  [class.active]="isSelected()"
  (click)="selectAppointment()"
>
  <div class="appointment-card-checkbox">
    <p-checkbox
      [binary]="true"
      [ngModel]="isSelected()"
    ></p-checkbox>

  </div>

  <div class="appointment-card-content">
    <div class="appointment-card-text">
      <i class="pi pi-calendar"></i>
      <span class="grey-text">{{ appointment()?.date | date:'dd.MM.yyyy'}}</span>
    </div>

    <div class="appointment-card-text">
      <i class="pi pi-clock"></i>
      <span class="grey-text">{{ appointment()?.time }} Uhr</span>
    </div>
  </div>
</div>
