<div class="orbit-card">
  <div class="orbit-center">

    <mat-icon class="center-icon">person</mat-icon>

    <div class="orbit-path orbit-path-1"></div>
    <div class="orbit-path orbit-path-2"></div>
    <div class="orbit-path orbit-path-3"></div>
    <div class="orbit-path orbit-path-4"></div>

    <mat-icon id="orbitIcon1" class="orbit-matrix-icon icon-size-1">flag</mat-icon>
    <mat-icon id="orbitIcon2" class="orbit-matrix-icon icon-size-2">verified</mat-icon>
    <mat-icon id="orbitIcon3" class="orbit-matrix-icon icon-size-3">trending_up</mat-icon>
    <mat-icon id="orbitIcon4" class="orbit-matrix-icon icon-size-2">payments</mat-icon>

  </div>
</div>
