<div class="orbit-card">
  <div class="orbit-center">

    <i class="pi pi-user center-icon"></i>

    <div class="orbit-path orbit-path-1"></div>
    <div class="orbit-path orbit-path-2"></div>
    <div class="orbit-path orbit-path-3"></div>
    <div class="orbit-path orbit-path-4"></div>

    <i id="orbitIcon1" class="pi pi-flag-fill orbit-matrix-icon icon-size-1"></i>
    <i id="orbitIcon2" class="pi pi-verified orbit-matrix-icon icon-size-2"></i>
    <i id="orbitIcon3" class="pi pi-chart-line orbit-matrix-icon icon-size-3"></i>
    <i id="orbitIcon4" class="pi pi-dollar orbit-matrix-icon icon-size-2"></i>


  </div>
</div>
