/* ----------------------------- */
/* MOBILE FIRST                  */
/* ----------------------------- */

.stepper-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stepper-wrapper {
  display: flex;
  justify-content: center;
}

.step-icon {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--primary-grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: var(--primary-grey);
  transition: 0.25s ease;
  pointer-events: none; /* NICHT klickbar */
}

.step-icon.active {
  border-color: var(--primary-green);
  color: var(--primary-green);
}


.my-stepper {
  width: 50rem;
}

/* Actions */
.step-actions {
  padding-top: 1.5rem;
  display: flex;
}

.step-actions.end {
  justify-content: flex-end;
}

.step-actions.start {
  justify-content: flex-start;
}

.step-actions.between {
  justify-content: space-between;
}




