.side-nav-container {
  color: var(--app-white);
  background-color: var(--app-secondary-black);
  height: 100vh;
  width: 80px;
  text-align: center;

  box-shadow: 8px 0 16px rgba(0, 0, 0, 0.2);
  display: flex;
}



.side-nav-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Logo */
.side-nav-logo {
  padding-top: 1.5rem;
  padding-bottom: 1rem; /* kleiner Abstand */
}

.side-nav-logo img {
  width: 60%;
  height: auto;
}

/* Navigation Content soll den Mittelbereich füllen */
.side-nav-content {
  flex: 1; /* WICHTIG */
  display: flex;
  justify-content: flex-start;
  padding-top: 3rem;
}

.item-container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 1rem;
  width: 100%;
}



/* Logout Button */
.side-nav-footer {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-nav-item.logout mat-icon {
  color: red;
}

.side-nav-item.logout:hover {
  background-color: rgba(255, 0, 0, 0.1);
}
