.user-statistics-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--app-white);
}

.user-statistics-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  background: var(--app-secondary-black);
  border-radius: 0.5rem;
  padding: 1rem;
}

.user-statistics-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 3rem;
}

.user-statistics-header .last {
  margin-left: auto;
}


.user-statistics-content {
  display: flex;
}

.user-statistics-footer {
  display: flex;
}
