<div class="user-statistics-container">
  <div class="user-statistics-wrapper">
    <div class="user-statistics-header">
      <mat-icon>rocket_launched</mat-icon>
      <span>Lernstatus</span>
      <span class="grey-text last">Weitermachen</span>
    </div>
    <div class="user-statistics-content">
      <span>aktueller Fortschritt</span>
    </div>
    <div class="user-statistics-footer">
      <mat-progress-bar value="70"></mat-progress-bar>
    </div>
  </div>

  <div class="user-statistics-wrapper">
    <div class="user-statistics-header">
      <mat-icon>rocket_launched</mat-icon>
      <span>korrekte Aufgaben</span>
      <span class="grey-text last">Weitermachen</span>
    </div>
    <div class="user-statistics-content">
      <span>aktueller Fortschritt</span>
    </div>
    <div class="user-statistics-footer">
      <mat-progress-bar value="90"></mat-progress-bar>
    </div>
  </div>

  <div class="user-statistics-wrapper">
    <div class="user-statistics-header">
      <mat-icon>rocket_launched</mat-icon>
      <span>Platzhalter</span>
      <span class="grey-text last">Weitermachen</span>
    </div>
    <div class="user-statistics-content">
      <span>aktueller Fortschritt</span>
    </div>
    <div class="user-statistics-footer">
      <mat-progress-bar value="50"></mat-progress-bar>
    </div>
  </div>
</div>
