/* Default Item */
.side-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  width: 3rem;

  border-radius: 0.5rem;
  cursor: pointer;

  background-color: transparent;
  border: none;

  transition: background 0.25s ease, color 0.25s ease;
}

.side-nav-item mat-icon {
  color: var(--app-grey);
}

/* Hover */
.side-nav-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Active Item */
.side-nav-item.active {
  background-color: var(--primary-green);
}

.side-nav-item.active mat-icon {
  color: var(--primary-white);
}
