<p-table
  [value]="bookedAppointments"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10]"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h6>{{ tableTitle() }}</h6>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">
        ID
        <p-sortIcon field="id"></p-sortIcon>
      </th>

      <th pSortableColumn="name">
        Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>

      <th pSortableColumn="phone">
        Telefon
        <p-sortIcon field="phone"></p-sortIcon>
      </th>

      <th pSortableColumn="email">
        Email
        <p-sortIcon field="email"></p-sortIcon>
      </th>

      <th pSortableColumn="date">
        Datum
        <p-sortIcon field="date"></p-sortIcon>
      </th>

      <th pSortableColumn="time">
        Uhrzeit
        <p-sortIcon field="time"></p-sortIcon>
      </th>

      <th pSortableColumn="status">
        Status
        <p-sortIcon field="status"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      <td class="grey-text">{{ row.id }}</td>
      <td class="grey-text">{{ row.name }}</td>
      <td class="grey-text">{{ row.telephone }}</td>
      <td class="grey-text">{{ row.email }}</td>
      <td class="grey-text">{{ row.appointmentSlot?.date | date:'dd.MM.yyyy' }}</td>
      <td class="grey-text">{{ row.appointmentSlot?.time.slice(0,5) }}</td>

      <td>
        <app-small-chip-component
          [status]="getStatus(row)"
        ></app-small-chip-component>
      </td>
    </tr>
  </ng-template>
</p-table>

