.header-section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: transparent;
}

.header-wrapper {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header {
  flex: 1;
  display: flex;
  justify-content: flex-start;;
  align-items: center;
}

.right-header {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  gap: 1rem;
}
