<p-toolbar class="toolbar-main">
  <ng-template #start>
    <div class="toolbar-start">
      <img src="assets/images/logo_black.png" alt="Logo" class="header-logo" />
      <p-menubar
        class="toolbar-menu"
        [model]="menuItems"
      ></p-menubar>
    </div>
  </ng-template>
  <ng-template #center>

  </ng-template>
  <ng-template #end>
    <p-menubar
      class="toolbar-menu"
      [model]="adminMenuItems"
    ></p-menubar>
    <p-avatar icon="pi pi-user" class="mr-2" size="normal" shape="circle" />
  </ng-template>
</p-toolbar>
