.app-header-container {
  height: 100px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  color: var(--app-white);
  padding: 1rem 0;
}

.header-title {
  display: flex;
  flex-direction: column;
}

.header-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
