.user-table {
  width: 100%;
  border-spacing: 0;
  background-color: var(--app-secondary-black);
}

.user-table th {
  font-weight: 600;
  color: var(--app-white);
}

.user-table td,
.user-table th {
  padding: 12px 16px;
  color: var(--app-white);
}

.action-button {
  color: var(--app-white);
}

/* Badges */
.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}

.badge-green {
  background-color: var(--primary-green);
}

.badge-red {
  background-color: #f44336;
}

.badge-blue {
  background-color: #2196f3;
}

.badge-gray {
  background-color: #9e9e9e;
}

.badge-yellow {
  background-color: #ff9800;
}

.group-icon {
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

.group-icon.active {
  color: var(--primary-green);
}

.group-icon.inactive {
  color: #f44336;
}
