.content-card {
  display: flex;
  gap: 1rem;
  align-items: center;

  background-color: var(--primary-white);
  border: 1px solid var(--primary-grey);
  border-radius: 1rem;
  padding: 1.5rem;

  max-width: 15rem;
}

.content-card-icon {
  max-height: 4rem;
  max-width: 4rem;
}

.card-image {
  max-height: 4rem;
  max-width: 4rem;
}

.content-card-text {
  display: flex;
  flex-direction: column;
}
