.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertikal */
}


.hero-section .container {
  position: relative;
  z-index: 3; /* über Video, Overlay und Gradient */
}


.hero-section::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px; /* wie stark der Fade sein soll */
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    var(--primary-black) 100%
  );
  z-index: 2;
  pointer-events: none;
}



/* OPTIONAL: dunkler Overlay für bessere Lesbarkeit */
.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
  z-index: 1;
}


/* FULL-WIDTH VIDEO */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-wrapper {
  padding: 2rem 0;
  margin: auto 0;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}



.hero-button-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
}


@media (min-width: 1024px) {
  .hero-button-wrapper {
    flex-direction: row;
  }

  .hero-text {
    width: 75%;
    max-width: 75%;
  }
}
