/* ----------------------------- */
/*        MOBILE FIRST           */
/* ----------------------------- */

.admin-container {
  padding: 1rem;
}

.admin-header-wrapper {
  padding: 1rem 0;
}

.admin-appointment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.big-table-wrapper,
.small-table-wrapper {
  width: 100%;
}

.big-table {
  width: 100%;
}

.small-table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.small-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-appointment-cards {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

h6 {
  margin: 0;
  font-weight: 600;
}

/* ----------------------------- */
/*        TABLET (>= 640px)      */
/* ----------------------------- */

@media (min-width: 640px) {
  .admin-appointment-wrapper {
    gap: 2rem;
  }
}

/* ----------------------------- */
/*        DESKTOP (>= 1024px)    */
/* ----------------------------- */

@media (min-width: 1270px) {
  .admin-appointment-wrapper {
    flex-direction: row;
  }

  .big-table-wrapper {
    flex: 3;
  }

  .small-table-wrapper {
    flex: 1;
  }

  .admin-header-wrapper {
    padding: 2rem 0;
  }
}
