.admin-header-wrapper {
  display: flex;
  padding: 2rem;
}

.admin-appointment-wrapper {
  display: flex;
  gap: 1rem;
}

.admin-appointment-cards {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

.admin-appointment-section .big-container > div:first-child {
  display: flex;
  justify-content: flex-end;
}

.big-table-wrapper {
  display: flex;
  flex: 3;
  width: 100%;
}

.big-table {
  width: 100%;
}


.small-table-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.6rem;
}

.small-table-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

