.analyse-section {
  color: var(--primary-black);
  height: 100%; /* statt min-height */
  display: flex;
  flex-direction: column;
}


.analyse-top-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-white);
  border: 1px solid var(--primary-grey);
  border-radius: 1rem;
  padding: 1.5rem;
}

/* Rechtsbereich */
.right-actions {
  display: flex;
  gap: 1rem;
}



