<div class="custom-calendar">
  <div class="calendar-header">
    <button (click)="prevMonth()">
      <i class="pi pi-arrow-left"></i>
    </button>
    <div>{{ monthYear }}</div>
    <button (click)="nextMonth()">
      <i class="pi pi-arrow-right"></i>
    </button>
  </div>

  <div class="calendar-weekdays">
    <div>Mo</div>
    <div>Di</div>
    <div>Mi</div>
    <div>Do</div>
    <div>Fr</div>
    <div>Sa</div>
    <div>So</div>
  </div>

  <div class="calendar-days">
    @for (day of days; track day) {
      <div
        [class.other-month]="day.otherMonth"
        [class.today]="day.isToday"
        [class.selected]="isSelected(day)"
        (click)="selectDay(day)"
      >
        {{ day.date.getDate() }}
      </div>
    }

  </div>
</div>
