.statistic-container {
  background: var(--primary-black);
}

.statistic-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  text-align: center;
}

/* MOBILE DEFAULT */
.statistic-card-wrapper {
  border-right: none;
}

/* Nur 1 und 3 haben Border */
.statistic-card-wrapper:nth-child(1),
.statistic-card-wrapper:nth-child(3) {
  border-right: 1px solid var(--primary-green);
}

.statistic-card-wrapper {
  flex: 1;
}

.statistic-card {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
}


@media (min-width: 800px) {
  .statistic-wrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .statistic-card-wrapper {
    flex: 1;
  }

  .statistic-card-wrapper-border {
    border-right: 1px solid var(--primary-green);
  }

  .statistic-card-wrapper-border:last-child {
    border-right: none;
  }

}

