.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  color: var(--primary-white);
}

.header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem 20rem;

}

.header-inner > .flex-container {
  flex: 1; /* Jede Spalte bekommt gleich viel Platz */
}

.input-section {
  justify-content: center;
}

.menu-section {
  display: none;
  justify-content: flex-end;
  gap: 2rem;
}

.mobile-menu-button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}


@media (min-width: 1024px) {
  .header-inner {
    max-width: 1400px;
  }

  .menu-section {
    display: flex;
  }

  .mobile-menu-button {
    display: none;
  }
}
