.footer-container {
  background: var(--primary-black);
  border-top: 1px solid var(--primary-grey);
}


.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--primary-grey);

}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-right {
  display: flex;
  flex-direction: row;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 4rem;
  align-items: center;
}

.badge-dot {
  background-color: var(--primary-green);
  border-radius: 2rem;
  flex: none;
  width: 7px;
  height: 7px;
  flex: none;
}
