.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--app-white);
  border: 1px solid var(--primary-green);
  border-radius: 50%;
  transition: background-color 0.25s ease;
}

.icon-button:hover {
  background-color: var(--primary-green);
}


