@import "primeicons/primeicons.css";

@import 'styles/base/_typography.css';
@import 'styles/base/_font.css';
@import 'styles/layout/_container.css';




:root {
  --primary-green: #2ecc71;
  --primary-black: black;
  --secondary-black: #262d33;
  --primary-white: white;
  --secondary-white: #f7f7f7;
  --primary-grey: #b1b1b1;

  --app-white: #fdfdfd;
  --app-grey: #b0b5b6;
  --app-black: #141414;
  --app-secondary-black: #24282e;
}
:root {
  /* deine neue Primary-Farbe */
  --p-primary-50:  var(--primary-green);
  --p-primary-100: var(--primary-green);
  --p-primary-200: var(--primary-green);
  --p-primary-300: var(--primary-green);
  --p-primary-400: var(--primary-green);
  --p-primary-500: var(--primary-green); /* wichtigste */
  --p-primary-600: var(--primary-green);
  --p-primary-700: var(--primary-green);
  --p-primary-800: var(--primary-green);
  --p-primary-900: var(--primary-green);

  /* abgeleitete Tokens */
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: #ffffff;
}



body {
  font-family: 'Inter', sans-serif;
  color: var(--primary-white);
  margin: 0;
}

.tester {
  border: 1px solid red;
}

.main-layout {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}


.text-shadow {
  text-shadow: 0 5px 10px rgba(0,0,0,1);
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

