.contact-container {
  background: var(--primary-black);
  height: 100vh;

  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertikal */
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}


