<div class="login-wrapper">
  <div class="login-card">
    <i class="pi pi-lock login-icon"></i>

    <div class="form-field">
      <label>Passwort</label>
      <p-password
        [(ngModel)]="password"
        [feedback]="false"
        toggleMask="true"
        placeholder="Passwort eingeben"
      ></p-password>
    </div>

    <p-button
      label="Login"
      icon="pi pi-lock"
      (click)="login()"
      [loading]="loading"
      styleClass="w-full"
    ></p-button>

    @if (error) {
      <p class="error">{{ error }}</p>
    }
  </div>
</div>

