.brands-auto-slider-section {
  background: var(--primary-black);
  overflow: hidden;
  padding-bottom: 10rem;
}

.brands-title {
  text-align: center;
  padding-bottom: 2rem;
}

.brands-wrapper {
  overflow: hidden;
}

.brands-track {
  display: flex;
  width: max-content;
  animation: slideLeft 20s linear infinite;
}

.brands-slide {
  display: flex;
  gap: 4rem;
  padding-right: 4rem;
}

.brand-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  opacity: 0.8;
  color: white;
  font-size: 1.2rem;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.brand-item i {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.5rem;
  width: 2.5rem;

  color: var(--primary-green);
  filter: drop-shadow(0 0 6px var(--primary-green));
}


.brand-item:hover {
  opacity: 1;
}

/* Endlos-Loop: 200% Breite → 0 → -50% */
@keyframes slideLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}
