.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 8px;
  text-transform: uppercase;
  transition: all .15s ease;
  margin: 0 auto;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--primary-grey);
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: var(--primary-white);
  border-radius: 0.5rem;
  background-color: var(--secondary-black);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--secondary-black);
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--primary-green);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: var(--secondary-black);
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: var(--primary-white);
}
