:root {
    --text-size-50:  clamp(0.6rem, 1vw + 0.4rem, 0.8rem);
    --text-size-100: clamp(0.8rem, 1vw + 0.5rem, 1rem);
    --text-size-200: clamp(1rem, 1.2vw + 0.6rem, 1.2rem);
    --text-size-300: clamp(1.2rem, 1.4vw + 0.7rem, 1.44rem);
    --text-size-400: clamp(1.4rem, 1.6vw + 0.8rem, 1.728rem);
    --text-size-500: clamp(1.6rem, 1.8vw + 0.9rem, 2.074rem);
    --text-size-600: clamp(1.8rem, 2vw + 1rem, 2.488rem);
    --text-size-700: clamp(2rem, 2.2vw + 1.1rem, 2.986rem);
    --text-size-800: clamp(2.4rem, 2.5vw + 1.2rem, 3.583rem);
    --text-size-900: clamp(2.8rem, 3vw + 1.3rem, 4.23rem);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: var(--text-size-900);
  letter-spacing: -0.06em;
  line-height: 0.9;
}

h2 {
  font-size: var(--text-size-800);
  letter-spacing: -0.06em;
  line-height: 0.9;
}

h3 {
  font-size: var(--text-size-700);
}

h4 {
  font-size: var(--text-size-600);
}

h5 {
  font-size: var(--text-size-500);
}

h6 {
  font-size: var(--text-size-400);
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: var(--text-size-100);
  line-height: 1.5;
}

span {
  font-size: var(--text-size-100);
  line-height: 1.5;
}

.buttonText {
  font-size: var(--text-size-100);
  font-weight: bold;
}

.white-text {
  color: var(--primary-white);
}

.black-text {
  color: var(--primary-black);
}

.grey-text {
 color: var(--primary-grey);
}
